<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="col-md-4 col-xs-12 comment_wrapper">
<!-- <div class="row"> -->

  <%= render 'product' %>
  <%= render 'new_comment' %>
  <%= render 'comments' %>

</div>

<div class="productfooter">
  <br>
    <%= link_to 'New Product', new_product_path %>
</div>

