<!DOCTYPE html>

<html>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<% if alert %>
    <p id="alert" class="alert alert-info"><%= alert %></p>
<% end %>


  <%= render partial: 'products/header' %>

  <body>
   
    <%= image_tag("bicycle.jpg", class: "img-responsive") %>

    <%= render partial: 'products/carousel' %>

<%= yield %>

  <%= render partial: 'products/footer' %>
  
  </body>

</html>
 
 