<!DOCTYPE html>

<html>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <%= render partial: 'products/header' %>

  <body>
   
    <%= image_tag("bicycle.jpg", class: "img-responsive") %>

    <%= render partial: 'products/carousel' %>

<%= yield %>

  <%= render partial: 'products/footer' %>
  
  </body>

</html>
